/* This section includes 'padding' when calculating 'width'. Otherwise, the widths would equal 100% and THEN 30px of padding would be added */
*{
    box-sizing: border-box;
}

body{
    margin: 0%;
}

header{
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: gray; 
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{ 
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}

/* With this section, if the webpage is displayed on a screen with a width of 600px or less (e.g. phones), we can apply certain properties */
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}